<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Currency Converter  <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">About</a>
      </div>    </nav>
  </header>
<div class="container">
  <div class="title">
    Currency Converter
  </div>
<div class="row" style="display: inline-flex;">
  <input type="number" class="col-2 .offset-1">
  <select class="col-2 form-select form-select-sm sm-3" aria-label=".form-select-lg example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <select class="form-select form-select-sm mb-3 col-2 .offset-1" aria-label=".form-select-lg example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
</div>
</body>
